.onglets
{
display:flex;
align-content: flex-start;
justify-content:flex-end;
justify-content: space-between;
}

.logo
{
display:flex;
align-items: center;
justify-content: center;
}

h1,h2,p
{
text-align: center;
}

h2{height: 1px;}

.footer
{
display:flex;
align-content: flex-start;
justify-content:flex-end;
justify-content: space-between;
}

.presentation
{
height: 50px;
margin: 2em 10em;
padding: 5em 5em;
font-variant: small-caps;
text-shadow:3px 2px 5px black;
}

.fb>a>img
{width: 25%}

.tw>a>img
{width: 25%}

.li>a>img
{width:25%;}

.contact
{
width:400px;
display:flex;
}
